<form
  #form="ngForm"
  class="min-w-[310px] max-w-md p-10 self-center m-auto dark:bg-slate-500"
>
  <div class="relative z-0 w-full mt-5 group pb-4">
    <input
      [(ngModel)]="username"
      type="text"
      name="pName"
      id="pName"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 !bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" "
    />
    <label
      for="pName"
      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-0.5 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-300 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Username</label
    >
  </div>
  <div class="relative z-0 w-full mt-5 group pb-4">
    <input
      [(ngModel)]="roomId"
      type="text"
      name="roomID"
      id="roomID"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 !bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" "
    />
    <label
      for="roomID"
      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-0.5 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-300 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Room ID</label
    >
    <button
      (click)="joinRoom()"
      type="button"
      class="mt-4 text-white bg-slate-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Join Room
    </button>
  </div>

  <div class="relative z-0 w-full mt-5 group pb-4">
    <input
      [(ngModel)]="username"
      type="text"
      name="username"
      id="username"
      [ngClass]="{ redBorder: yusername.control.invalid }"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 !bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" "
      #yusername="ngModel"
    />
    <label
      for="username"
      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-0.5 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-300 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Username
    </label>
  </div>
  <div class="relative z-0 w-full mt-5 group pb-4">
    <label
      for="rand"
      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-0.5 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-300 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >choose a Random Word:
    </label>
    <input
      (change)="randomWordselection()"
      type="checkbox"
      name="rand"
      id="rand"
    />
  </div>
  <div class="relative z-0 w-full mt-5 group pb-4 h-full">
    <input
      type="text"
      [(ngModel)]="word"
      [readonly]="randomWordSelected"
      name="word"
      id="word"
      placeholder=" "
      [class.opacity-0]="randomWordSelected"
      [class.cursor-default]="randomWordSelected"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 !bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
    />
    <label
      for="word"
      [class.opacity-0]="randomWordSelected"
      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-0.5 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-300 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Hangman-Word
    </label>

    <button
      type="button"
      (click)="createRoom()"
      class="mt-4 text-white bg-slate-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Create Room
    </button>
  </div>
  <div class="relative z-0 w-full mt-5 group pb-4">
    <p>{{ currentMessage ? currentMessage : "" }}</p>
  </div>
</form>
